.hover-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none; 
}

.hover-container.visible {
  display: block; 
}

.popup-content {
  border: 1px solid red;
  color: black;
}

/* .skill-item {
} */
